.ae-countdown {
  $digit-border-radius: 15%;
  $animation-duration: .5s;
  $digit-padding: .5rem;

  background-color: var(--countdown-color-background);
  border-radius: 10px;
  display: flex;
  padding: 1rem;

  svg {
    height: 100%;
    width: 100%;

    path,
    circle {
      fill: var(--countdown-color-text);
    }
  }

  .part__digits {
    display: flex;

    svg {
      path {
        transform: translate(2.5px, 0);
      }
    }
  }

  .part--zero {
    svg {
      path {
        fill: var(--countdown-color-zero);
      }
    }
  }
}
